@font-face {
    font-family: Harlow;
    src: url(../fonts/Harlow_Solid_Italic.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
    width: 1036px;
    height: 1036px;
    margin: 0 auto;
}

.side-bar {
    float: left;
    width: 141px;
    height: 1036px;
    background-color: #b6d2b9;
    margin-left: 15px;
}

ul {
    margin: 30px 0 0 0;
    padding: 0;
}

.main-menu li {
    text-align:  center;
    list-style-type: none;
    margin-bottom: 24px;
}

a {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ece7ca;
}

a:hover {
    opacity: 0.7;
}

main {
    float: left;
    margin-left: 32px;
    width: 848px;
    height: 851px;
    background-color: #a9c8ca;
}

.big-frame {
    box-sizing: border-box;
    margin-left: 61px;
    margin-top: 48px;
    width: 736px;
    height: 736px;
    background-color: #b6d2b9;
    border: 8px solid #8fb3ae;
    border-radius: 50px;
}

.big-pic {
    margin: 18px auto 28px;
    box-sizing: border-box;
    width: 692px;
    height: 426px;
    border: 16px solid #ece7ca;
    border-radius: 50px;
    overflow: hidden;
    background: url("../pics/1.jpg") no-repeat center center;
    background-size: cover;
}

.small-pic-place {
    margin-left: 11px;
}
.small-pic {
    box-sizing: border-box;
    display: inline-block;
    width: 218px;
    height: 218px;
    border: 16px solid #ece7ca;
    border-radius: 50px;
    overflow: hidden;
}

.small-pic:nth-child(1){
    background: url("../pics/2.jpg") no-repeat center center;
    background-size: cover;
    margin-right: 18px;
}

.small-pic:nth-child(2){
    background: url("../pics/3.jpg") no-repeat center center;
    background-size: cover;
    margin-right: 18px;
}

.small-pic:nth-child(3){
    background: url("../pics/4.jpg") no-repeat center center;
    background-size: cover;
}

.dots {
    position: absolute;
    bottom: 153px;
    left: 163px;

}
.dots li {
    display: inline-block;
    margin: 0 13px 0 7px;

}

.page-footer {
    position: absolute;
    bottom: 22px;
    width: 1036px;
    height: 127px;
    background-color: #b6d2b9;
}

.page-footer h1 {
    font-size: 58px;
    margin-left: 774px;
    margin-top: 30px;
    font-family: Harlow;
}

